body {
    padding: 0;
    margin: 0;
}

/*.matrix {
    background-color: black;
    fill: darkgreen;
    text-shadow: 0 0 1em greenyellow;
    width: 100%;
    height: 100%;
}*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.field .matrix {
    margin: 0;
    display: inline-block;
    margin-right: 10px;
}

.field .settings {
    margin: 0;
    padding: 20px;
    display: inline-block;
    float: right;
    vertical-align: top;
    background-color: grey;
}

.input-field {
    margin-bottom: 10px;
    display: block;
    text-align: right;
}

#font-size {
    width: 30px;
}

#fps {
    width: 30px;
}

label {
    float: left;
}

.main {
    float: left;
}

.field .matrix .line {
    position: absolute;
}

.field .matrix span {
    position: absolute;
}
